.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 1rem;
  width: 100%;

  && h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
  }
}

.PetNotFoundAnimation {
  width: 100%;
  height: 100%;
}
