.trigger {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
}

.trigger:hover {
  color: darkblue;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
