.navbar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  background-color: var(--secondary-color);
  color: white;
  font-family: sans-serif;
}

/* Desktop navigation */
.desktop-nav {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: var(--off-wwhite-background-color);
  font-size: 1.5rem;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

.nav-item:hover {
  color: var(--light-orange-color);
  transform: scale(1.05);
}

.nav-item.active {
  color: var(--primary-color);
  font-weight: bold;
}

.nav-item:hover:not(.active) {
  color: var(--light-orange-color);
}

/* Mobile Hamburger Menu */
.hamburger-menu {
  display: none;
  font-size: 5rem;
  font-weight: bold;
  background: none;
  border: none;
  color: var(--light-orange-color);
  cursor: pointer;
}

/* Mobile Navigation */
.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 150px;
  right: 0;
  width: 50%;
  background-color: var(--secondary-color);
  padding: 1rem;
  z-index: 1000;
}

@media screen and (max-width: 1157px) {
  .nav-item {
    text-align: center;
  }
}

/* Media Query for Tablets & Small Laptops */
@media screen and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-nav {
    width: 30%;
  }
  .mobile-nav.open {
    display: flex;
  }
  .navbar {
    padding-bottom: 0;
  }
  .nav-item {
    font-size: 1.7rem;
    text-align: left;
  }

  .nav-item:hover {
    transform: scale(1.01);
  }
}

/* Media Query for Mobile View */
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: none; /* Hide mobile navigation by default */
  }

  .mobile-nav {
    display: none;
    top: 120px;
    width: 45%;
  }

  .hamburger-menu {
    font-size: 3rem;
    font-weight: 300;
  }

  .nav-item {
    font-size: 1.5rem;
  }
}

.mobile-nav {
  display: none; /* Initially hidden */
}
