.form {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 48rem;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.486);
}

input[type='radio'] {
  display: none;
}

h3 {
  font-size: 16px;
}
.amountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  height: fit-content;
}

.amountOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.radioOption label {
  padding: 0.6rem 1.25rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type='radio']:checked + label {
  border-color: var(--primary-color);
  background-color: var(--white-color);
  font-weight: bold;
}

.formSubmit {
  max-width: 10rem;
  align-self: center;
}

.errorMessage {
  color: var(--error-color);
}

.modal {
  height: 10rem;
}

@media only screen and (min-width: 768px) {
  .form {
    padding: 2rem 4rem;
  }
}
